body {
    background-color: #282c34;
    color: #bbc2cf;
    font-family: 'Source Code Pro' !important;
}

main * a {
    color: #51afef !important;
}

main * {
    text-align: justify !important;
}

@media screen and (min-device-width: 500px) {
    main {
        padding-left: 15vw !important;
        padding-right: 15vw !important;
    }
}

footer {
    color: #bbc2cf !important;
}
